* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("background_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 90vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    text-align: center;
    position: relative;
    margin-top: 20px;
    z-index: 1;
    padding: 20px;
    max-width: 60%;
    margin: 20px auto;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

h3 {
    color: rgb(255, 255, 255);
}

h4 {
    color: rgb(255, 255, 255);
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 10px;
}

#clouds {
    padding: 100px 0;
}

.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

.x1 {
    -webkit-animation: moveclouds 150s linear infinite;
    -moz-animation: moveclouds 150s linear infinite;
    -o-animation: moveclouds 150s linear infinite;
    opacity: 0.6;
}

.x2 {
    left: 200px;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.3;
    -webkit-animation: moveclouds 100s linear infinite;
    -moz-animation: moveclouds 100s linear infinite;
    -o-animation: moveclouds 100s linear infinite;
}

.x3 {
    left: -250px;
    top: -200px;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0.45;
    -webkit-animation: moveclouds 125s linear infinite;
    -moz-animation: moveclouds 125s linear infinite;
    -o-animation: moveclouds 125s linear infinite;
}

.x4 {
    left: 470px;
    top: -250px;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.3;
    -webkit-animation: moveclouds 170s linear infinite;
    -moz-animation: moveclouds 170s linear infinite;
    -o-animation: moveclouds 170s linear infinite;
}

.x5 {
    left: -150px;
    top: -150px;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0.35;
    -webkit-animation: moveclouds 90s linear infinite;
    -moz-animation: moveclouds 90s linear infinite;
    -o-animation: moveclouds 90s linear infinite;
}

.x6 {
    left: 300px;
    top: -100px;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.3;
    -webkit-animation: moveclouds 220s linear infinite;
    -moz-animation: moveclouds 220s linear infinite;
    -o-animation: moveclouds 220s linear infinite;
}

.x7 {
    left: -100px;
    top: -50px;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0.45;
    -webkit-animation: moveclouds 185s linear infinite;
    -moz-animation: moveclouds 185s linear infinite;
    -o-animation: moveclouds 185s linear infinite;
}

.x8 {
    left: 200px;
    top: -150px;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.25;
    -webkit-animation: moveclouds 160s linear infinite;
    -moz-animation: moveclouds 160s linear infinite;
    -o-animation: moveclouds 160s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 120%;
    }
    100% {
        margin-left: -120%;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 120%;
    }
    100% {
        margin-left: -120%;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 120%;
    }
    100% {
        margin-left: -120%;
    }
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    height: 300px;
    max-width: 80%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    backdrop-filter: blur(10px); /* Adds the blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}

.project iframe {
    max-width: 60%;
    height: 80%;
    object-fit: cover;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.project .description {
    padding: 20px;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project img {
    max-width: 50%;
    height: 100%;
    object-fit: cover;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 2px solid transparent;
}

.button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}